body {
    margin: 0;
  }
  header {
    background-color: black;
    padding: 10px;
  }
  header ul {
    float: right;
    color: white;
    margin-top: 25px;
  }
  header li {
    display: inline-block;
    padding: 0px 20px;
  }
  header p {
    display: inline-block;
  }

  header img {
    animation: spin 3s;
  }

  @keyframes spin {
    from {
   transform: rotate(180deg)
    }
    to {
  transform:rotate(0deg)
    }
  }
  .heroImg {
    background-color: #EBEBEB;
    padding: 100px 15px;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
  }
  .content button {
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }

  .img1 button {
    border: none;
    background: none;
  }

  .img2 button {
    border: none;
    background: none;
  }

  .img3 button {
    border: none;
    background: none;
  }

  footer {
    background-color: black;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 20px;
  }
  .heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
  }
  /* My UX Skills Section */
  .flexContainer {
    display: flex;
    padding: 60px 30px;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
  }
  
  /* My Work Section */
  .myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: #EBEBEB;
  }



.img1 {
    text-align: center;
}

.img2 {
    text-align: center;
}

.img3 {
  text-align: center;
}


  

 

